<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliqit: Links made lightning-fast</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

        :root {
            --background: #ffffff;
            --primary: ;
            --light: #f7eeee;
            --dark: #000000;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        body {
            background: var(--background);
            color: var(--dark);
        }
    </style>
</head>

<body>
    <p>You are being redirected in <a id="countdown">3</a> seconds!</p>
</body>

</html>